<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <appender name="logstash" class="net.logstash.logback.appender">
            <destianation>localhost:5000</destianation>
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <mdc/>
                    <context/>
                    <logLevel/>
                    <loggerName/>
                    <pattern>
                        <pattern>
                            {
                            "app": "whycryBackend-log"
                            }
                        </pattern>
                    </pattern>
                    <threadName/>
                    <message/>
                    <logstashMarkers/>
                    <stachTrace/>
                </providers>
            </encoder>
        </appender>
        <root leveç="info">
            <appender-ref ref="logstash"/>
        </root>
</configuration>